PORT=5000
NODE_ENV=development
MONGODB_URI=
JWT_SECRET=
JWT_EXPIRES_IN=7d
GEMINI_API_KEY=
GROQ_API_KEY=
ELEVENLABS_API_KEY=
ELEVENLABS_VOICE_ID=
GOOGLE_MAPS_API_KEY=
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=navexa://spotify/callback
GMAIL_USER=
GMAIL_APP_PASSWORD=
VOICE_AUTH_SERVICE_URL=http://localhost:8000
VOICE_AUTH_API_KEY=navexa_voice_key_2024
FRONTEND_URL=http://localhost:3000
